<a href="https://colab.research.google.com/github/JoQri/zerobase_study/blob/main/%EA%B8%B0%EC%B4%88%EC%88%98%ED%95%99.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# 약수
inputN = int(input('0보다 큰 정수:'))
for i in range(1, inputN+1):
  if inputN % i == 0:
    print(i)

0보다 큰 정수:30
1
2
3
5
6
10
15
30

In [ ]:
# 소수 / 합성수
inputN = int(input('1보다 큰 정수:'))
for n1 in range(2,inputN+1):
  flag = True
  for n2 in range(2,n1):                                                        # n1+1를 안하는 이유가 자기 자신 불포함
    if n1 % n2 == 0:
      flag = False
      break
  if flag:
    print('{} : \t소수'.format(n1))
  else:
    print(('{} : 합성수'.format(n1)))

0보다 큰 정수:10
2 : 	소수
3 : 	소수
4 : 합성수
5 : 	소수
6 : 합성수
7 : 	소수
8 : 합성수
9 : 합성수
10 : 합성수

In [ ]:
# 소인수분해
num = int(input('1보다 큰 정수: '))

n = 2
while n <= num:
  if num % n == 0:
    print('소인수: {}'.format(n))
    num /= n
  else:
    n += 1

1보다 큰 정수: 20
소인수: 2
소인수: 2
소인수: 5

In [ ]:
# 72에 target을 곱하면 x²이 됨. target은?

num = 72
target_list = []
n = 2
while n <= num:
  if num % n == 0:
    print('소인수: {}'.format(n))
    if target_list.count(n) == 0:
      target_list.append(n)
    elif target_list.count(n) == 1:
      target_list.remove(n)
    num /= n
  else:
    n += 1
target_list

소인수: 2
소인수: 2
소인수: 2
소인수: 3
소인수: 3

[2]

In [ ]:
num = 72
nums_list = []

n = 2
while n <= num:
  if num % n == 0:
    nums_list.append(n)
    num /= n
  else:
    n += 1
print(f'소인수분해: {nums_list}')
for i in nums_list:
  if nums_list.count(i) % 2 != 0:
     print(f'target: {i}')
     nums_list.remove(i)

소인수분해: [2, 2, 2, 3, 3]
target: 2

In [1]:
n1 = int(input('1보다 큰 정수: '))
n2 = int(input('n1보다 큰 정수: '))
maxInt = 0
for i in range(1,n1+1):
  if n1 % i == 0 and n2 % i == 0:
    print('공약수: {}'.format(i))
    maxInt = i
print('최대 공약수: {}'.format(maxInt))

minInt = (n1*n2) // maxInt
print('최소 공배수: {}'.format(minInt))

1보다 큰 정수: 12
n1보다 큰 정수: 36
공약수: 1
공약수: 2
공약수: 3
공약수: 4
공약수: 6
공약수: 12
최대 공약수: 12
최소 공배수: 36

In [2]:
# 유클리드 호제법

n1 = int(input('1보다 큰 정수: '))
n2 = int(input('n1보다 큰 정수: '))

temp1 = n1; temp2 = n2                                                          # temp1 = 12, temp2 = 36
while temp2 > 0:
  temp = temp2                                                                  # temp = 36
  temp2 = temp1 % temp2                                                         # temp2 = 12
  temp1 = temp                                                                  # temp1 = 36
print('{}, {} 최대 공약수: {}'.format(n1,n2,temp1))

1보다 큰 정수: 12
n1보다 큰 정수: 36
12, 36 최대 공약수: 12

In [2]:
n1 = int(input('1보다 큰 정수: '))
n2 = int(input('n1보다 큰 정수: '))
n3 = int(input('n1보다 큰 정수: '))
maxInt = 0
for i in range(1,n1+1):
  if n1 % i == 0 and n2 % i == 0:
    maxInt = i
print('최대 공약수: {}'.format(maxInt))
minInt = (n1*n2) // maxInt
print('{},{} 최소 공배수: {}'.format(n1,n2,minInt))

n_new = minInt
for i in range(1,n_new+1):
  if n_new % i == 0 and n3 % i == 0:
    maxInt = i
print('최대 공약수: {}'.format(maxInt))
minInt = (n_new*n3) // maxInt
print('{},{}, {} 최소 공배수: {}'.format(n1,n2,n3,minInt))

1보다 큰 정수: 6
n1보다 큰 정수: 12
n1보다 큰 정수: 18
최대 공약수: 6
6,12 최소 공배수: 12
최대 공약수: 6
6,12, 18 최소 공배수: 36

In [12]:
# 진법

# 10진수 -> x진수
dNum = 30

# 파이썬 내장함수 이용
print(f'2진수: {bin(dNum)}, 타입: {type(bin(dNum))}')
print(f'8진수: {oct(dNum)}, 타입: {type(oct(dNum))}')
print(f'16진수: {hex(dNum)}, 타입: {type(hex(dNum))}')

print('-'*20)
# format함수 이용
print('2진수: {}'.format(format(dNum,'#b')))
print('2진수: {}'.format(format(dNum,'b')))                                     # '#'을 없앨수있음(그러나 여전히 str)
print('2진수: {}'.format(type(format(dNum,'b'))))

print('8진수: {}'.format(format(dNum,'#o')))
print('16진수: {}'.format(format(dNum,'#x')))

print('-'*20)
print('{0:#b}, {0:#o}, {0:x}'.format(dNum))

2진수: 0b11110, 타입: <class 'str'>
8진수: 0o36, 타입: <class 'str'>
16진수: 0x1e, 타입: <class 'str'>
--------------------
2진수: 0b11110
2진수: 11110
2진수: <class 'str'>
8진수: 0o36
16진수: 0x1e
--------------------
0b11110, 0o36, 1e

In [17]:
# x진수 -> 10진수 (int 함수!!!)
print('2진수(0b11110) -> 10진수({})'.format(int('0b11110',2)))                  # str이니깐 ''에 넣기
print('2진수(0b11110) -> 10진수({})'.format(int('11110',2)))                    # '#'을 없앨수있음(그러나 여전히 str)
print('{}'.format(type(int('0b11110',2))))
# 8진수, 16진수 마찬가지

print('2진수(0b11110) -> 8진수({})'.format(oct(0b11110)))
# 나머지도 똑같이 사용

2진수(0b11110) -> 10진수(30)
2진수(0b11110) -> 10진수(30)
<class 'int'>
2진수(0b11110) -> 8진수(0o36)

In [3]:
# 등차수열

a1 = int(input('a1: '))
d = int(input('d: '))
targetN = int(input('n번째: '))
targetInt = 0
n = 1
total = 0
while n <= targetN:
  if n == 1:
    targetInt = a1
    print(f'{n}번째 항의 값: {targetInt}')
    total += targetInt
    print(f'{n}번째 항의 합 값: {total}')
    n += 1
    continue
  targetInt += d
  print(f'{n}번째 항의 값: {targetInt}')
  total += targetInt
  print(f'{n}번째 항의 합 값: {total}')
  n += 1
print(f'{targetN}번째 항의 값: {targetInt}\t 합: {total}')



# 공식
print('-'*30)
targetInt = a1 + (targetN-1)*d
print(f'{targetN}번째 항의 값: {targetInt}')
total = targetN * (a1 + targetInt) / 2
print(f'{targetN}번째 항의 값: {targetInt}\t 합: {total}')

a1: 5
d: 4
n번째: 7
1번째 항의 값: 5
1번째 항의 합 값: 5
2번째 항의 값: 9
2번째 항의 합 값: 14
3번째 항의 값: 13
3번째 항의 합 값: 27
4번째 항의 값: 17
4번째 항의 합 값: 44
5번째 항의 값: 21
5번째 항의 합 값: 65
6번째 항의 값: 25
6번째 항의 합 값: 90
7번째 항의 값: 29
7번째 항의 합 값: 119
7번째 항의 값: 29	 합: 119
------------------------------
7번째 항의 값: 29
7번째 항의 값: 29	 합: 119.0

In [6]:
# 등비수열

a1 = int(input('a1: '))
r = int(input('r: '))
targetN = int(input('n번째: '))
targetInt = 0
n = 1
total = 0

while n <= targetN:
  if n == 1:
    targetInt = a1
    print(f'{n}번째 항의 값: {targetInt}')
    total += targetInt
    print(f'{n}번째 항의 합 값: {total}')
    n += 1
    continue
  targetInt *= r
  print(f'{n}번째 항의 값: {targetInt}')
  total += targetInt
  print(f'{n}번째 항의 합 값: {total}')
  n += 1
print(f'{targetN}번째 항의 값: {targetInt}\t 합: {total}')

# 공식
print('-'*30)

targetInt = a1 * (r ** (targetN-1))
print(f'{targetN}번째 항의 값: {targetInt}')
total = a1 * (1-r**targetN) / (1-r)
print(f'{targetN}번째 항의 값: {targetInt}\t 합: {total}')

a1: 5
r: 3
n번째: 7
1번째 항의 값: 5
1번째 항의 합 값: 5
2번째 항의 값: 15
2번째 항의 합 값: 20
3번째 항의 값: 45
3번째 항의 합 값: 65
4번째 항의 값: 135
4번째 항의 합 값: 200
5번째 항의 값: 405
5번째 항의 합 값: 605
6번째 항의 값: 1215
6번째 항의 합 값: 1820
7번째 항의 값: 3645
7번째 항의 합 값: 5465
7번째 항의 값: 3645	 합: 5465
------------------------------
7번째 항의 값: 3645
7번째 항의 값: 3645	 합: 5465.0