<a href="https://colab.research.google.com/github/JoQri/python_study/blob/main/%EC%9E%90%EB%A3%8C%EA%B5%AC%EC%A1%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
students = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]]
min_y= 0; min_cnt=0
for y,cnt in students:
  if min_cnt==0 or cnt<=min_cnt:
    min_y= y; min_cnt=cnt
print('학생 수가 가장 적은 학급(학생 수): {}학급({}명)'.format(min_y,min_cnt))

max_y= 0; max_cnt=0
for y,cnt in students:
  if cnt>=max_cnt:
    max_y= y; max_cnt=cnt
print('학생 수가 가장 많은 학급(학생 수): {}학급({}명)'.format(max_y,max_cnt))

# while문
n=0; min_y= 0; min_cnt=0; max_y= 0; max_cnt=0
while n < len(students):
  if min_cnt==0 or students[n][1] <= min_cnt:
    min_y= students[n][0]; min_cnt=students[n][1]
  if students[n][1] >= max_cnt:
    max_y= students[n][0]; max_cnt=students[n][1]
  n +=1
print('학생 수가 가장 적은 학급(학생 수): {}학급({}명)'.format(min_y,min_cnt))
print('학생 수가 가장 많은 학급(학생 수): {}학급({}명)'.format(max_y,max_cnt))

학생 수가 가장 적은 학급(학생 수): 7학급(17명)
학생 수가 가장 많은 학급(학생 수): 3학급(23명)
학생 수가 가장 적은 학급(학생 수): 7학급(17명)
학생 수가 가장 많은 학급(학생 수): 3학급(23명)

In [ ]:
# sort()했을경우
students = [[1,18],[2,19],[3,23],[4,21],[5,20],[6,22],[7,17]]
students.sort(key=lambda x: x[1])                                               # sort() sorted()- key 매개변수: 정렬 기준지정
print(students)

print('학생 수가 가장 적은 학급(학생 수): {}학급({}명)'.format(students[0][0],students[0][1]))
print('학생 수가 가장 많은 학급(학생 수): {}학급({}명)'.format(students[-1][0],students[-1][1]))

[[7, 17], [1, 18], [2, 19], [5, 20], [4, 21], [6, 22], [3, 23]]
학생 수가 가장 적은 학급(학생 수): 7학급(17명)
학생 수가 가장 많은 학급(학생 수): 3학급(23명)

In [ ]:
scores = [['kor',58],['eng',77],['math',89],['sci',99],['his',50]]
n=0
sum=0
min_score = 60
while n < len(scores):
  sum += scores[n][1]
  if scores[n][1] < min_score: print('과락 과목:{}({}점)'.format(scores[n][0],scores[n][1]))
  n+= 1
print(f'총점: {sum}점')

과락 과목:kor(58점)
과락 과목:his(50점)
총점: 373점

In [ ]:
message = input('input: ')
cnt = 0
for idx,val in enumerate(message):                                              # enumerate()함수
  if val == ' ':
    cnt += 1
print(f'공백이 총 {cnt}개 있습니다')

input: 오늘은 날씨가 좋아요
공백이 총 2개 있습니다

In [ ]:
nums = [1,3,6,11,45,57,62,74,85]
inputNum= int(input())
target_idx = 0
for idx,n in enumerate(nums):                                                   # 또다른방법:
  if inputNum >= n:                                                             # target_idx == 0(딱 1번만) and inputNum <= n
    target_idx = idx+1                                                          # target_idx = idx
nums.insert(target_idx,inputNum)
nums

5

[1, 3, 5, 6, 11, 45, 57, 62, 74, 85]

In [ ]:
scores = [1,4,5,2,3,6,2,4]
remove_score=int(input())
while remove_score in scores:
  scores.remove(remove_score)                                                   # remove()함수

scores

4

[1, 5, 2, 3, 6, 2]

In [ ]:
# 암호 해독 프로그램
target ='27156231'
solve_list=[]
for i in target:
  solve_list.append(int(i))
solve_list.reverse()

val = solve_list[0] * solve_list[1]
solve_list.insert(2,val)                                                        # insert()함수
val = solve_list[3] * solve_list[4]
solve_list.insert(5,val)
val = solve_list[6] * solve_list[7]
solve_list.insert(8,val)
val = solve_list[9] * solve_list[10]
solve_list.insert(11,val)
print(solve_list)

solve = ''
for i in solve_list:
  solve += str(i)
print(solve)

[1, 3, 3, 2, 6, 12, 5, 1, 5, 7, 2, 14]
13326125157214

In [ ]:
abc = 'abcdefga'
print(abc[:4:2], abc[slice(0,4,2)])                                             # slice()함수
print(abc.count('a'))

ac ac
2

In [ ]:
a=('a','b','c','d','e','c','f','z')
a.index('c', 4, 10)                                                             # index()함수

5

In [ ]:
import random
sample_list = random.sample(range(1,11),10)                                     # random.sample()함수 - 1개더라도 리스트로 반환!!

select_Num = int(input('7의 위치 입력: '))
search_Idx = sample_list.index(7)
print(sample_list)
print('Win') if select_Num == search_Idx else print('TT')

7의 위치 입력: 5
[4, 10, 6, 7, 3, 5, 9, 2, 8, 1]
TT

In [ ]:
##### 내기준 어려웠던 문제
import random

types = ['A','B','AB','O']
today_t = []
for i in range(100):
  t = types[random.randrange(len(types))]                                       # random.randrange()로 0,1,2,3을 뽑고 types[] 인덱싱으로 뽑기
  today_t.append(t)

print('todayData: {}'.format(today_t))

for t in types:
  print('{}형: {}개'.format(t,today_t.count(t)))                                # count()함수
print('총 {}명'.format(len(today_t)))

todayData: ['AB', 'B', 'B', 'O', 'AB', 'AB', 'O', 'AB', 'O', 'A', 'O', 'B', 'A', 'A', 'O', 'AB', 'AB', 'O', 'A', 'A', 'A', 'A', 'B', 'B', 'O', 'O', 'AB', 'A', 'B', 'O', 'A', 'A', 'B', 'O', 'O', 'A', 'AB', 'B', 'AB', 'O', 'A', 'A', 'O', 'O', 'O', 'AB', 'B', 'B', 'AB', 'A', 'O', 'B', 'O', 'A', 'A', 'A', 'O', 'A', 'O', 'O', 'A', 'A', 'B', 'B', 'O', 'O', 'AB', 'O', 'AB', 'B', 'O', 'O', 'A', 'A', 'O', 'B', 'A', 'A', 'AB', 'AB', 'A', 'AB', 'O', 'O', 'A', 'A', 'A', 'A', 'AB', 'O', 'O', 'B', 'AB', 'A', 'B', 'A', 'AB', 'B', 'B', 'AB']
A형: 31개
B형: 19개
AB형: 20개
O형: 30개
총 100명

---

In [ ]:
wrongWord = ('쩔었다','짭새','꼽사리','먹튀','쪼개다')
sentence = '짭새 등장에 강도들은 모두 쪼개다. 꼽사리를 준 것이다'
for w in wrongWord:
  if w in sentence:
    print('비속어 사용: {}'.format(w))

비속어 사용: 짭새
비속어 사용: 꼽사리
비속어 사용: 쪼개다

In [ ]:
# 중복 제거(덧셈 연산자 사용)
nums_1 = (1,3,5,7,9)
nums_2 = (2,3,5,8,10)

for n in nums_2:
  if n not in nums_1:
    nums_1 = nums_1 + (n,)                                                      # 1개의 아이템-뒤에 쉼표 필요
print(nums_1)

# 튜플 정렬                                                                     # sorted()함수 ->사용시 리스트로 반환
print(type(nums_1))
sorted_n1 =  sorted(nums_1)
print(sorted_n1)
print(type(sorted_n1))

(1, 3, 5, 7, 9, 2, 8, 10)
<class 'tuple'>
[1, 2, 3, 5, 7, 8, 9, 10]
<class 'list'>

In [ ]:
# 리스트에 튜플아이템으로 변경 -> 여전히 리스트
list = ['a','b','c','d','e','f']
list[:3] = (1,2,3,4,5)
print(list)
print(type(list))

[1, 2, 3, 4, 5, 'd', 'e', 'f']
<class 'list'>

In [ ]:
# 딕셔어리 아이템 추가
dict_ex = {1:'a',2:'b'}

dict_ex[3] = 'c'
dict_ex

{1: 'a', 2: 'b', 3: 'c'}

In [ ]:
student = {}

student['Name'] = input('Name: ')
student['No'] = int(input('No: '))
student

Name: Quri
No: 31

{'Name': 'Quri', 'No': '31'}

In [ ]:
# 0~10!팩토리얼 딕셔어리 형태
factorial = {}
for i in range(11):
  if i == 0:
    factorial[0] = 1
  else:
    for j in range(1,i+1):
      factorial[j] = factorial[j-1]*j                                           # factorial[0] = 1 이니깐

print(factorial)

{0: 1, 1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040, 8: 40320, 9: 362880, 10: 3628800}

In [ ]:
scores = {'kor':88,'eng':55,'mat':85,'sci':57,'his':82}
min_s = 60

if scores['kor'] < min_s: scores['kor'] = 'F'
if scores['eng'] < min_s: scores['eng'] = 'F'
if scores['mat'] < min_s: scores['mat'] = 'F'
if scores['sci'] < min_s: scores['sci'] = 'F'
if scores['his'] < min_s: scores['his'] = 'F'
print(scores)

{'kor': 88, 'eng': 'F', 'mat': 85, 'sci': 'F', 'his': 82}

In [ ]:
scores = {'kor': 88, 'eng': 55, 'mat': 85, 'sci': 57, 'his': 82}
min_s = 60
f_scores = {}
for k in scores:
  if scores[k] < min_s:
    scores[k] = 'F'
    f_scores[k] = 'F'
print(scores)
print(f_scores)

{'kor': 88, 'eng': 'F', 'mat': 85, 'sci': 'F', 'his': 82}
{'eng': 'F', 'sci': 'F'}

In [ ]:
# 나혼자 풀이
scores = {'kor': 88, 'eng': 55, 'mat': 85, 'sci': 57, 'his': 82}
min_s = 60
for subject, score in scores.items():                                           # dictionary에서 반복문쓸때, items()함수
    if score < min_s:
        scores[subject] = 'F'

print(scores)

{'kor': 88, 'eng': 'F', 'mat': 85, 'sci': 'F', 'his': 82}

In [ ]:
bodyInfo={'Name':'gildong','weight':83.0,'height':1.8}
BMI = round(bodyInfo['weight'] / (bodyInfo['height'] **2),2)
print(bodyInfo,BMI)

# while문 활용
date = 0
while True:
  date += 1
  bodyInfo['weight'] = round((bodyInfo['weight'] - 0.3),2)
  bodyInfo['height'] = round((bodyInfo['height'] + 0.001),3)
  if date >= 30:
    break

BMI = round(bodyInfo['weight'] / (bodyInfo['height'] **2),2)
print(bodyInfo,BMI)

{'Name': 'gildong', 'weight': 83.0, 'height': 1.8} 25.62
{'Name': 'gildong', 'weight': 74.0, 'height': 1.83} 22.1

In [ ]:
# 딕셔어리 삭제 pop()함수
ex = {'a':1,'b':2,'c':3,'d':[4,5]}
ex_pop = ex.pop('c')
print(ex)
print(ex_pop)
print(type(ex_pop))

pop_list = ex.pop('d')[0]
print(ex)
print(pop_list)

{'a': 1, 'b': 2, 'd': [4, 5]}
3
<class 'int'>
{'a': 1, 'b': 2}
4

In [ ]:
# 최저 및 최고 점수 삭제 프로그램 - del 키워드
scores = {'kor': 88, 'eng': 55, 'mat': 85, 'sci': 57, 'his': 82}
min_s = 0; min_sub = ''
max_s = 0; max_sub = ''
for key in scores.keys():                                                       # keys()함수
  if min_s == 0 or scores[key] < min_s:
    min_s = scores[key]
    min_sub = key
  if scores[key] > max_s:
    max_s = scores[key]
    max_sub = key
print(min_sub,min_s)
print(max_sub,max_s)
del scores[min_sub]
del scores[max_sub]
scores

eng 55
kor 88

{'mat': 85, 'sci': 57, 'his': 82}

In [ ]:
scores = {'kor': 88, 'eng': 55, 'mat': 85, 'sci': 57, 'his': 82}
del_keyword =  ['his', 'soc', 'sci']
for key in del_keyword:                                                         # 정답보고 함
  if key in scores:                                                             # in키워드
    del scores[key]

scores

{'kor': 88, 'eng': 55, 'mat': 85}

---

In [ ]:
import random
rSample = random.sample(range(1,100),10)
print(rSample)
evens = []; odds=[]
for r in rSample:
  if r % 2 == 0:
    evens.append(r)
  elif r % 2 != 0:
    odds.append(r)
print('짝수: {}, 개수: {}'.format(evens, len(evens)))
print('홀수: {}, 개수: {}'.format(odds, len(odds)))

[36, 19, 83, 6, 39, 98, 87, 33, 90, 12]
짝수: [36, 6, 98, 90, 12], 개수: 5
홀수: [19, 83, 39, 87, 33], 개수: 5

In [ ]:
import random
visitors = []
for i in range(100):
  visitors.append(random.randint(0,100))

a1=[];a2=[];a3=[];a4=[];a5=[]
for v in visitors:
  if v <= 7:
    a1.append(v)
  elif v <= 13:
    a2.append(v)
  elif v <= 19:
    a3.append(v)
  elif v <= 64:
    a4.append(v)
  else: a5.append(v)

print('*'*20)
print(f'영유아\t: {len(a1)}명\t: {len(a1)*0}원')
print(f'어린이\t: {len(a2)}명\t: {len(a2)*200}원')
print(f'청소년\t: {len(a3)}명\t: {len(a3)*300}원')
print(f'성인\t: {len(a4)}명\t: {len(a4)*500}원')
print(f'어르신\t: {len(a5)}명\t: {len(a5)*0}원')
total = (len(a1)*0) + (len(a2)*200) + (len(a3)*300) + (len(a4)*500) + (len(a5)*0)
print('*'*20)
print('1일 요금 총합계: {}원'.format(format(total,',')))

********************
영유아	: 11명	: 0원
어린이	: 5명	: 1000원
청소년	: 7명	: 2100원
성인	: 49명	: 24500원
어르신	: 28명	: 0원
********************
1일 요금 총합계: 27,600원

In [ ]:
# 강의 풀이(훨씬 간단)
a1,a2,a3,a4,a5= 0,0,0,0,0
for v in visitors:
  if v <= 7:
    a1 += 1
  elif v <= 13:
    a2 += 1
  elif v <= 19:
    a3 += 1
  elif v <= 64:
    a4 += 1
  else: a5 += 1

print('*'*20)
print(f'영유아\t: {a1}명\t: {a1*0}원')
print(f'어린이\t: {a2}명\t: {a2*200}원')
print(f'청소년\t: {a3}명\t: {a3*300}원')
print(f'성인\t: {a4}명\t: {a4*500}원')
print(f'어르신\t: {a5}명\t: {a5*0}원')
total = (a1*0) + (a2*200) + (a3*300) + (a4*500) + (a5*0)
print('*'*20)
print('1일 요금 총합계: {}원'.format(format(total,',')))

********************
영유아	: 8명	: 0원
어린이	: 7명	: 1400원
청소년	: 8명	: 2400원
성인	: 43명	: 21500원
어르신	: 34명	: 0원
********************
1일 요금 총합계: 25,300원

In [ ]:
friends = []
for i in range(5):
  fri = input('Friend Name:')
  friends.append(fri)
print(friends)
friends.sort()                                                                  # sort() 사용법 주의
print(friends)
friends.sort(reverse=True)
print(friends)

Friend Name:박세리
Friend Name:홍길동
Friend Name:유재석
Friend Name:강호동
Friend Name:박지성
['박세리', '홍길동', '유재석', '강호동', '박지성']
['강호동', '박세리', '박지성', '유재석', '홍길동']
['홍길동', '유재석', '박지성', '박세리', '강호동']

In [ ]:
# 중복제거
nums = [2,22,7,8,9,2,7,3,5,2,7,1,3]

# 방법1
result = []
for n in nums:
  if n not in result:
    result.append(n)
print(result)

# 방법2(강의)
idx = 0
while True:
  if idx >= len(nums):
    break

  if nums.count(nums[idx]) >= 2:                                                # count()함수 이용
    nums.remove(nums[idx])
    continue                                                                    # idx는 +1이 안됨!!

  idx += 1
print(nums)

[2, 22, 7, 8, 9, 3, 5, 1]
[22, 8, 9, 5, 2, 7, 1, 3]

In [29]:
nums = [4,6,7,9]
target = []
for n1 in nums:
  for n2 in nums:
    if n1 != n2:                                                                # if n1 == n2:
      target.append([n1,n2])                                                    #   continue
                                                                                # target.append([n1,n2])
print(target)
print(len(target))

# 순열 수학공식 n! / (n-r)!
import math
pernutation = math.factorial(len(nums)) / math.factorial(len(nums) - 2)
print('공식이용 경우의 수: {}'.format(pernutation))

[[4, 6], [4, 7], [4, 9], [6, 4], [6, 7], [6, 9], [7, 4], [7, 6], [7, 9], [9, 4], [9, 6], [9, 7]]
12
공식이용: 12.0

In [ ]:
nums = [4,6,7,9]
target = []
for n1 in nums:
  for n2 in nums:
    for n3 in nums:
      if n1 != n2 and n1 != n3 and n2 != n3:
        target.append([n1,n2,n3])

print(target)
print(len(target))

[[4, 6, 7], [4, 6, 9], [4, 7, 6], [4, 7, 9], [4, 9, 6], [4, 9, 7], [6, 4, 7], [6, 4, 9], [6, 7, 4], [6, 7, 9], [6, 9, 4], [6, 9, 7], [7, 4, 6], [7, 4, 9], [7, 6, 4], [7, 6, 9], [7, 9, 4], [7, 9, 6], [9, 4, 6], [9, 4, 7], [9, 6, 4], [9, 6, 7], [9, 7, 4], [9, 7, 6]]
24

In [30]:
# 강의 내용
nums = [4,6,7,9]
target = []
for n1 in nums:
  for n2 in nums:
    if n1 == n2: continue

    for n3 in nums:
      if n2 == n3 or n1 == n3: continue

      target.append([n1,n2,n3])

print(target)
print(len(target))

[[4, 6, 7], [4, 6, 9], [4, 7, 6], [4, 7, 9], [4, 9, 6], [4, 9, 7], [6, 4, 7], [6, 4, 9], [6, 7, 4], [6, 7, 9], [6, 9, 4], [6, 9, 7], [7, 4, 6], [7, 4, 9], [7, 6, 4], [7, 6, 9], [7, 9, 4], [7, 9, 6], [9, 4, 6], [9, 4, 7], [9, 6, 4], [9, 6, 7], [9, 7, 4], [9, 7, 6]]
24

In [ ]:
scores = ((3.7, 4.2),(2.9, 4.3),(4.1, 4.2))                                     # 강의 자료
total_sum = 0                                                                   # for s1 in scores:
for s1, s2 in scores:                                                           #   for s2 in s1:
  total_sum += (s1 + s2)                                                        #     total += s2

total_avg = round((total_sum/6),1)
print('3학년 총학점: {}\n3학년 평균: {}'.format(total_sum,total_avg))
print('-'*30)
target_sum = round((4.0 * 8) - total_sum,1)
print('4학년 목표 총학점: {}\n4학년 한학기 목표 평균: {}'.format(target_sum,(target_sum/2)))

3학년 총학점: 23.4
3학년 평균: 3.9
------------------------------
4학년 목표 총학점: 8.6
4학년 한학기 목표 평균: 4.3

In [ ]:
# 교집합/합집합 방법1
tuple1 = (1,3,2,6,12,5,7,8)
tuple2 = (0,5,2,9,8,6,17,3)

union = list(tuple1); inter = []
for n in tuple2:
  if n in union:
    inter.append(n)
  else:
    union.append(n)

union = tuple(sorted(union))
intersection = tuple(sorted(inter))
print('교집합: {}\n합집합: {}'.format(intersection,union))

교집합: (2, 3, 5, 6, 8)
합집합: (0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 17)

In [ ]:
# 교집합/합집합 방법2
tuple3 = (tuple1 + tuple2)
union = list(tuple3); inter = []
idx = 0
while True:
  if idx >= len(union):
    break

  if union.count(union[idx]) >= 2:
    inter.append(union[idx])
    union.remove(union[idx])
    continue
  idx += 1

union = tuple(sorted(union))
intersection = tuple(sorted(inter))
print('교집합: {}\n합집합: {}'.format(intersection,union))

# 최솟값, 최댓값                                                                # min(), max()함수
print(min(intersection),max(intersection))
print(union.index(min(intersection)),union.index(max(intersection)))            # index()함수

교집합: (2, 3, 5, 6, 8)
합집합: (0, 1, 2, 3, 5, 6, 7, 8, 9, 12, 17)
2 8
2 7

In [ ]:
kor = int(input('kor')); eng = int(input('eng')); mat = int(input('mat'))
sci = int(input('sci')); his = int(input('his'))
scores = ({'kor':kor},{'eng':eng},{'mat':mat},{'sci':sci},{'his':his})
                                                                                # 튜플 안에 딕셔어리는 수정가능!!!
for s1 in scores:
  for key in s1:
    if s1[key] >= 90:
      s1[key] = 'A'
    elif s1[key] >= 80:
      s1[key] = 'B'
    elif s1[key] >= 70:
      s1[key] = 'C'
    elif s1[key] >= 60:
      s1[key] = 'D'
    else:
      s1[key] = 'F'
scores

kor68
eng54
mat77
sci92
his86

({'kor': 'D'}, {'eng': 'F'}, {'mat': 'C'}, {'sci': 'A'}, {'his': 'B'})

In [1]:
### 어려웠던 문제
fruits = ({'수박': 13}, {'포도': 8}, {'참외': 12}, {'사과': 17}, {'자두': 19}, {'자몽': 15})
fruits = list(fruits)

cIdx = 0; nIdx = 1; eIdx = len(fruits)-1
flag = True
while flag:
  curDic = fruits[cIdx]                                                         # {'수박': 13}
  nextDic = fruits[nIdx]                                                        # {'포도': 8}
  curDicVal = list(curDic.values())[0]                                          # 13
  nextDicVal = list(nextDic.values())[0]                                        # 8

  if curDicVal > nextDicVal:                                                    # 13>8
    fruits.insert(cIdx,fruits.pop(nIdx))                                        # insert(0,{'포도': 8})
    nIdx = cIdx + 1                                                             # nIdx 다시 초기화
    continue

  nIdx += 1                                                                     # if절에 안걸리면 {참외}

  if nIdx > eIdx:
    cIdx += 1
    nIdx = cIdx +1

    if cIdx == 5:
      flag = False
print(tuple(fruits))

({'포도': 8}, {'참외': 12}, {'수박': 13}, {'자몽': 15}, {'사과': 17}, {'자두': 19})

In [15]:
students = ({'c1':18}, {'c2':21}, {'c3':20}, {'c4':19}, {'c5':22}, {'c6':20}, {'c7':23}, {'c8':17})
total_sum = 0
min_cnt = 0; min_class = ''
max_cnt = 0; max_class = ''

for s_dic in students:                                                          # 강의에선 왜 굳이 enumerate()를 사용할까?
  for key,val in s_dic.items():
    total_sum += val
    if min_cnt == 0 or min_cnt > val:
      min_cnt = val
      min_class = key

    if max_cnt < val:
      max_cnt = val
      max_class = key

print('전체 학생 수: {}명'.format(total_sum))
print('평균 학생 수: {}명'.format(total_sum/len(students)))
print('학생 수가 가장 적은 학급: {}({}명)'.format(min_class,min_cnt))
print('학생 수가 가장 많은 학급: {}({}명)'.format(max_class,max_cnt))

total_avg  = total_sum/len(students)
for s_dic in students:
  for key in s_dic:                                                             # for . in s_dic.items():를 사용할 경우 수정 적용이 안됨
     s_dic[key] = s_dic[key] - total_avg
students

전체 학생 수: 160명
평균 학생 수: 20.0명
학생 수가 가장 적은 학급: c8(17명)
학생 수가 가장 많은 학급: c7(23명)

({'c1': -2.0},
 {'c2': 1.0},
 {'c3': 0.0},
 {'c4': -1.0},
 {'c5': 2.0},
 {'c6': 0.0},
 {'c7': 3.0},
 {'c8': -3.0})

In [19]:
## 한번더 체크
subs = ['kor','eng','mat','sci','his']
scores = {}

for s in subs:
  scores[s] = int(input(s+ ': '))
print(scores)

kor: 8
eng: 9
mat: 5
sci: 7
his: 5
{'kor': 8, 'eng': 9, 'mat': 5, 'sci': 7, 'his': 5}

In [23]:
members = {'qwerty':'uiop[]',
           'asdfg':'hjkl;',
           'zxcvb':'nm,./'}

while True:
  id = input('ID: ')
  pw = input('PASSWORD: ')
  if id not in members.keys():
    print('ID CHECK!!')
  else:
    if members[id] != pw:
      print('PW CHECK!!')
    else:
      print('LOGGING!!')
      break

ID: qwert
PASSWORD: yuioop
ID CHECK!!
ID: asdfg
PASSWORD: ghjkl
PW CHECK!!
ID: zxcvb
PASSWORD: nm,./
LOGGING!!

In [26]:
result_dic = {}
for i in range(2,11):
  result_list = []
  for j in range(1,i+1):
    if i % j == 0:
      result_list.append(j)
  result_dic[i] = result_list
result_dic

{2: [1, 2],
 3: [1, 3],
 4: [1, 2, 4],
 5: [1, 5],
 6: [1, 2, 3, 6],
 7: [1, 7],
 8: [1, 2, 4, 8],
 9: [1, 3, 9],
 10: [1, 2, 5, 10]}

In [1]:
python = '파이썬은 1991년 네덜란드계 소프트웨어 엔지니어인 귀도 반 로섬이 발표한 고급 프로그래밍 언어이다'
split_list = python.split()                                                     # split()함수 -> list로 반환
result = {}
for idx,val in enumerate(split_list):
  result[idx] = val
result

{0: '파이썬은',
 1: '1991년',
 2: '네덜란드계',
 3: '소프트웨어',
 4: '엔지니어인',
 5: '귀도',
 6: '반',
 7: '로섬이',
 8: '발표한',
 9: '고급',
 10: '프로그래밍',
 11: '언어이다'}

In [32]:
# split() 대신 find()
python = '파이썬은 1991년 네덜란드계 소프트웨어 엔지니어인 귀도 반 로섬이 발표한 고급 프로그래밍 언어이다'

index_list = []
n = 0
while n <= len(python):
    n = python.find(' ', n)
    index_list.append(n)

    if n == -1:
        break
    n += 1

index_list.pop()  # 마지막에 추가된 -1을 제거합니다.
print(index_list)

[4, 10, 16, 22, 28, 31, 33, 37, 41, 44, 50]

In [3]:
python = '파이썬은 1991년 네덜란드계 소프트웨어 엔지니어인 귀도 반 로섬이 발표한 고급 프로그래밍 언어이다'
target_list = []
start_idx = 0
while start_idx < len(python):
  end_idx = python.find(' ',start_idx)                                          # find() ->  문자열을 찾지 못할 경우 -1을 반환
  if end_idx == -1:
    end_idx = len(python)
  target_list.append((start_idx,end_idx))                                       # 튜플형식으로 append
  start_idx = end_idx + 1
print(target_list)
word_list = [python[s:e] for s,e in target_list]
print(word_list)

[(0, 4), (5, 10), (11, 16), (17, 22), (23, 28), (29, 31), (32, 33), (34, 37), (38, 41), (42, 44), (45, 50), (51, 55)]
['파이썬은', '1991년', '네덜란드계', '소프트웨어', '엔지니어인', '귀도', '반', '로섬이', '발표한', '고급', '프로그래밍', '언어이다']

In [17]:
words = {'꺼지다':'가다', '쩔다':'엄청나다', '짭새':'경찰관', '꼽사리':'중간에 낀 사람', '먹튀':'먹고 도망',
        '지린다':'겁을 먹다', '쪼개다':'웃다', '뒷담까다':'험담하다'}

target = '강도는 서로 쪼개다. 짭새를 보고 빠르게 따돌리며 먹튀했다'
target_list = target.split()
for w in words:
  if w in target:
    print(w,words[w])
    target = target.replace(w,words[w])                                         # replace()함수
target

짭새 경찰관
먹튀 먹고 도망
쪼개다 웃다

'강도는 서로 웃다. 경찰관를 보고 빠르게 따돌리며 먹고 도망했다'

In [22]:
members = {}
for i in range(5):
  mail = input('MAIL: ')
  pw = input('PW: ')
  members[mail] = pw
  if mail in members:
    continue
members

MAIL: 1
PW: a
MAIL: 2
PW: b
MAIL: 3
PW: c
MAIL: 4
PW: d
MAIL: 5
PW: e

{'1': 'a', '2': 'b', '3': 'c', '4': 'd', '5': 'e'}

In [27]:
students = {1:{'Name':'abc','Age':20, 'SEX':'M', 'Hobby':['baseball','swimming']},
            2:{'Name':'def','Age':21, 'SEX':'W', 'Hobby':['soccer','book']},
            3:{'Name':'ghi','Age':22, 'SEX':'M', 'Hobby':['travel','swimming']}}
for k1 in students:
  print(k1)
  student = students[k1]
  for k2 in student:
    print(f'{k2} : {student[k2]}')

1
Name : abc
Age : 20
SEX : M
Hobby : ['baseball', 'swimming']
2
Name : def
Age : 21
SEX : W
Hobby : ['soccer', 'book']
3
Name : ghi
Age : 22
SEX : M
Hobby : ['travel', 'swimming']