<a href="https://colab.research.google.com/github/JoQri/zerobase_study/blob/main/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EA%B8%B0%EC%B4%88.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
senior = 65
passenger  = int(input())
print('free') if passenger >= 65 else print('PAY!!')

55
PAY!!

In [ ]:
# 반올림을 직접 코드로
fNum = float(input())

if fNum-int(fNum) >= 0.5:
  print(int(fNum)+1)
else:
  print(int(fNum))

3.141592
3

In [ ]:
highT = int(input('high: '))
lowT = int(input('low: '))
if highT-lowT >= 11:
  print('일교차: {}도\n감기조심하세요'.format(highT-lowT))
else:
  print('일교차: {}도\n산책하기 좋은 날씨^^'.format(highT-lowT))

high: 20
low: 10
일교차: 10도
산책하기 좋은 날씨^^

In [ ]:
print('1.Latte(3.5)\t2.essoprsso(3.0)\t3.americano(2.0)\t4.milk_tee(4.3)')
uesrNum= int(input('choice: '))

if uesrNum == 1:
  print('1.Latte\nPrice:3500')
elif uesrNum == 2:
  print('2.essoprsso\nPrice:3000')
elif uesrNum == 3:
  print('3.americano\nPrice:2000')
else:
  print('4.milk_tee\nPrice:4300')

1.Latte(3.5)	2.essoprsso(3.0)	3.americano(2.0)	4.milk_tee(4.3)
choice: 4
4.milk_tee
Price:4300

In [ ]:
selectNum = int(input('출퇴근 대상자? 1.예 2.아니오 - '))

if selectNum == 1:
  trans = int(input('1.도보, 자전거 2.버스,지하철 3.자가용 - '))
  if trans == 1: print('5% D.C')
  elif trans == 2: print('3% D.C')
  elif trans == 3: print('1% D.C')

elif selectNum == 2: print('No D.C')
else: print('Wrong Number')

출퇴근 대상자? 1.예 2.아니오 - 3
Wrong Number

In [ ]:
gugudan = int(input())
n=1
while n<10:
  print ('{} * {} = {}'.format(gugudan,n, gugudan*n))
  n+=1

7
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

In [ ]:
maxInt = 0
n = 1
sum = 0

while sum <= 50 and n <= 100:
  n += 1

  if n % 7 == 0:
    sum += n
    maxInt = n

print(n)

28

In [ ]:
nowResult = 30
result_1 = 0.15
result_n = 0

while nowResult >= 20:
  result_n += 1
  nowResult -= result_1

print(result_n, nowResult)

67 19.950000000000095

In [ ]:
import random

flag = True
sum = 0
day_n = 1

while flag:
  rInt = random.randint(50,100)
  sum += rInt
  day_n += 1
  if sum > 10000:
    flag = False
print(day_n, sum)

134 10075

In [ ]:
for i in range(1,101):
  if i % 7 != 0 or i % 3 != 0:
    continue
  print(i)

21
42
63
84

In [ ]:
n = 0
for i in range(1,101):
  if i % 7 != 0 or i % 3 != 0:
    continue
  if n == 0:
    print(i)                                                                    # 최소공배수

  n += 1

21

In [ ]:
result = 1
i = 1
while result < 50 and i <= 10:
  result *= i
  i += 1

print(i, result)

6 120

In [ ]:
result = 1
num = 0
for i in range(1, 11):
  result *= i

  if result > 50:
    num = i
    break                                                                       # break키워드

print(num, result)

5 120

In [ ]:
weight = 800
bab = 70
day_n = 1

while weight <= 2200:
  day_n += 1
  weight += bab
  print(day_n, weight)

2 870
3 940
4 1010
5 1080
6 1150
7 1220
8 1290
9 1360
10 1430
11 1500
12 1570
13 1640
14 1710
15 1780
16 1850
17 1920
18 1990
19 2060
20 2130
21 2200
22 2270

In [ ]:
weight = 800
bab = 70
day_n = 1

while True:
  day_n += 1
  weight += bab
  if weight >= 2200:
    break

print(day_n, weight)

21 2200

---

In [ ]:
python = '파이썬은 1991년 네덜란드계 소프트웨어 엔지니어인 귀도 반 로섬이 발표한 고급 프로그래밍 언어로, \'인터프리터를 사용하는 객체지향 언어\'이자 플랫폼에 독립적인, 동적 타이핑 대화형 언어이다.'

python.find('객체지향')                                                         #find()함수

69

In [ ]:
ga = float(input('가로 길이: '))
se = float(input('세로 길이: '))
print('삼각형 넓이: %.2f'%(ga*se/2))

가로 길이: 7
세로 길이: 5
삼각형 넓이: 17.50

In [ ]:
password = input('password: ')
person_fNums = input('주민번호 앞자리: ')
person_lNums = input('주민번호 뒷자리: ')
person_lNums = person_lNums[0] + ((len(person_lNums)-1)*'*')                    #문자열[0]
print('비밀번호: {}'.format((len(password))*'*'))
print('주민번호: {}-{}'.format(person_fNums, person_lNums))

password: 123456
주민번호 앞자리: 001122
주민번호 뒷자리: 334455
비밀번호: ******
주민번호: 001122-3*****

In [ ]:
weight = input('체중 입력(g): ')
height = input('신장 입력(cm): ')
if weight.isdigit() and height.isdigit():                                       #isdigit()함수
  weight = float(weight) / 1000
  height = float(height) / 100

  BMI = weight / (height*height)
  print('%.2f'%BMI)
else:
  print('잘못입력하였습니다')

체중 입력(g): 85500
신장 입력(cm): 187
24.45

In [ ]:
import datetime                                                                 # datetime모듈
today = datetime.datetime.today()
print(today.year)

age = int(input('age: '))
age_100 = 100-age
year_100 = today.year + age_100

print(f'{year_100}년({age_100}년후)에 100살!!')

2024
age: 27
2097년(73년후)에 100살!!

In [ ]:
target = int(input('상품가격: '))
pay = int(input('지불금액: '))
if pay >= target:
  result = pay - target
  result //= 10
  result *= 10                                                                  # result = (result // 10) * 10
  print('거스름돈: {}(원단위 절사)'.format(format(result,',')))
else: print('지불금액이 부족합니다')

r_5man=0; r_1man=0; r_5cheon=0; r_1cheon=0; r_500=0; r_100=0; r_10=0            # 주의!!!! 안했을경우 r_5man=1로 나옴

if result >= 50000:
  r_5man = result // 50000
  result -= 50000*r_5man                                                        # result %= 50000

if result >= 10000:
  r_1man = result // 10000
  result -= 10000 * r_1man

if result>= 5000:
  r_5cheon = result // 5000
  result -= 5000*r_5cheon

if result>= 1000:
  r_1cheon = result // 1000
  result -= 1000*r_1cheon

if result>= 500:
  r_500 = result // 500
  result -= 500*r_500

if result>= 100:
  r_100 = result // 100
  result -= 100*r_100

if result>= 10:
  r_10 = result // 10
  result -= 10*r_10


print(f'50,000 {r_5man}장')
print(f'10,000 {r_1man}장')
print(f'5,000 {r_5cheon}장')
print(f'1,000 {r_1cheon}장')
print(f'500 {r_500}개')
print(f'100 {r_100}개')
print(f'10 {r_10}개')

상품가격: 35862
지불금액: 100000
거스름돈: 64,130(원단위 절사)
50,000 1장
10,000 1장
5,000 0장
1,000 4장
500 0개
100 1개
10 3개

In [ ]:
kor= int(input('kor: '))
eng= int(input('eng: '))
math= int(input('math: '))
                                                                                # 오류
                                                                                # if kor >= eng:  print('Best high score: {}'.format(kor))
                                                                                # elif eng >= math:  print('Best high score: {}'.format(eng))
                                                                                # else:  print('Best high score: {}'.format(math))
best_score = kor
best_sub = 'korea'
if eng > best_score:
  best_score = eng
  best_sub = 'english'
if math > best_score:
  best_score = math
  best_sub = 'math'
print('best subject(score): {}({})'.format(best_sub,best_score))
                                                                                # 오류
                                                                                # if kor <= eng:  print('lower score: {}'.format(kor))
                                                                                # elif eng <= math:  print('lower score: {}'.format(eng))
                                                                                # else:  print('lower score: {}'.format(math))
lower_score = kor
lower_sub = 'korea'
if eng < lower_score:
  lower_score = eng
  lower_sub = 'english'
if math < lower_score:
  lower_score = math
  lower_sub = 'math'
print('lower subject(score): {}({})'.format(lower_sub,lower_score))
print('best score - lower score: {}'.format(best_score-lower_score))

kor: 84
eng: 90
math: 79
best subject(score): english(90)
lower subject(score): math(79)
best score - lower score: 11

In [ ]:
# 초로 환산하는 프로그램
hour = int(input('H: '))
min = int(input('M: '))
sec = int(input('S: '))

result = ((hour * 60)*60) + (min*60) + sec
print(format(result,','),'초')                                                  # result가 str로 변환

H: 13
M: 27
S: 8
48,428 초

In [ ]:
# 복리 계산기
money = int(input('Money: '))
year = int(input('Year: '))
percent = float(input('Percent: '))
for i in range(year):
  money += money*percent*0.01
print(year,'년 후 금액: ',format(int(money),','),'원')

Money: 2000000
Year: 6
Percent: 5.1
6 년 후 금액:  2,695,543 원

In [ ]:
# 고도에 따른 온도 계산기
base = 29
step = 60
stepTemp = 0.8

high = float(input('고도 입력: '))
target = base - ((high // step) * stepTemp)

# 정답보고 함 -> 만약 60으로 나눠지지 않는 높이까지 올라갔다면 그 온도를 어떻게 계산하느냐에 따라 있어도 되고 없어도 됨
if high % step != 0:
  target -= stepTemp


print('고도 {}m의 기온: {}'.format(high, target))

고도 입력: 555
15.0
9.0
9.25
고도 555.0m의 기온: 21.8

In [ ]:
age = int(input('age: '))
if age <= 19 or age >= 65:
  lastNum = int(input('출생연도 끝자리: '))
  if lastNum == 1 or lastNum == 6:
    print('MON')
  elif lastNum == 2 or lastNum == 7:
    print('TUE')
  elif lastNum == 3 or lastNum == 8:
    print('WED')
  elif lastNum == 4 or lastNum == 9:
    print('THU')
  else: print('FRI')
else: print('하반기 일정 확인')

age: 65
출생연도 끝자리: 4
THU

In [ ]:
kor = int(input('korea:')); avg_kor= 85
eng = int(input('english:')); avg_eng=82
math = int(input('math:')); avg_math=89
sci = int(input('science:')); avg_sci=75
his = int(input('history:')); avg_his=94

kor_gap=kor-avg_kor; eng_gap=eng-avg_eng; math_gap=math-avg_math; sci_gap=sci- avg_sci; his_gap=his-avg_his
str= '+' if kor_gap > 0 else '-'
print(f'korea: {kor}: {str*abs(kor_gap)}({kor_gap})')                           # abs() 함수 - 절대값
str= '+' if eng_gap > 0 else '-'
print(f'english: {eng}: {str*abs(eng_gap)}({eng_gap})')
str= '+' if math_gap > 0 else '-'
print(f'math: {math}: {str*abs(math_gap)}({math_gap})')
str= '+' if sci_gap > 0 else '-'
print(f'science: {sci}: {str*abs(sci_gap)}({sci_gap})')
str= '+' if his_gap > 0 else '-'
print(f'history: {his}: {str*abs(his_gap)}({his_gap})')

korea:91
english:92
math:61
science:58
history:90
korea: 91: ++++++(6)
english: 92: ++++++++++(10)
math: 61: ----------------------------(-28)
science: 58: -----------------(-17)
history: 90: ----(-4)

In [ ]:
import datetime
today = datetime.datetime.today()
to_day = today.day
print(today)
print('-'*30)

dust = int(input('미세먼지 수치: '))
car_type = int((input('차량 종류 1.승용차 2.영업용차: ')))
car_number = int(input('자동차 번호: '))

if dust > 150 and car_type ==1:
  print('차량 2부제 실시')
  if to_day % 2 != car_number % 2:
    print('금일 운행 가능합니다')
  else: print('금일 운행제한 대상 차량입니다!!')
if (dust <= 150) or (dust > 150 and car_type ==2):
  print('차량 5부제 실시')
  if to_day % 5 == car_number % 5:
    print('금일 운행제한 대상 차량입니다!!')
  else: print('금일 운행 가능합니다')

2024-03-12 12:06:25.726382
------------------------------
미세먼지 수치: 155
차량 종류 1.승용차 2.영업용차: 1
자동차 번호: 6721
차량 2부제 실시
금일 운행 가능합니다

In [ ]:
import random
rInt = random.randint(1,1000)
n=0
while rInt != inputNum:
  inputNum = int(input())
  n+=1
  if rInt > inputNum:
    print('난수가 크다')
  elif rInt < inputNum: print('난수가 작다')
if rInt == inputNum:
  print('빙고!!')
print('총 시도 횟수:{}'.format(n))

500
난수가 크다
750
난수가 작다
700
난수가 작다
600
난수가 작다
550
난수가 크다
570
난수가 작다
565
난수가 작다
560
난수가 크다
562
난수가 크다
563
난수가 크다
564
빙고!!
총 시도 횟수:11

In [ ]:
for i in range(1,101):
  if i < 10:
    result = '짝수' if i % 2 == 0 else '홀수'
    print(f'[{i}]: {result}')
  else:
    n_10 = i // 10
    result_10 = '짝수' if n_10 % 2 == 0 else '홀수'

    n_1 = i % 10
    if n_1 == 0: result_1 = 0                                                   # 강의랑 다른 풀이
    elif n_1 % 2 == 0: result_1 = '짝수'
    else: result_1 = '홀수'
    print(f'[{i}]: 십의자리: {result_10}, 일의자리: {result_1}')

[1]: 홀수
[2]: 짝수
[3]: 홀수
[4]: 짝수
[5]: 홀수
[6]: 짝수
[7]: 홀수
[8]: 짝수
[9]: 홀수
[10]: 십의자리: 홀수, 일의자리: 0
[11]: 십의자리: 홀수, 일의자리: 홀수
[12]: 십의자리: 홀수, 일의자리: 짝수
[13]: 십의자리: 홀수, 일의자리: 홀수
[14]: 십의자리: 홀수, 일의자리: 짝수
[15]: 십의자리: 홀수, 일의자리: 홀수
[16]: 십의자리: 홀수, 일의자리: 짝수
[17]: 십의자리: 홀수, 일의자리: 홀수
[18]: 십의자리: 홀수, 일의자리: 짝수
[19]: 십의자리: 홀수, 일의자리: 홀수
[20]: 십의자리: 짝수, 일의자리: 0
[21]: 십의자리: 짝수, 일의자리: 홀수
[22]: 십의자리: 짝수, 일의자리: 짝수
[23]: 십의자리: 짝수, 일의자리: 홀수
[24]: 십의자리: 짝수, 일의자리: 짝수
[25]: 십의자리: 짝수, 일의자리: 홀수
[26]: 십의자리: 짝수, 일의자리: 짝수
[27]: 십의자리: 짝수, 일의자리: 홀수
[28]: 십의자리: 짝수, 일의자리: 짝수
[29]: 십의자리: 짝수, 일의자리: 홀수
[30]: 십의자리: 홀수, 일의자리: 0
[31]: 십의자리: 홀수, 일의자리: 홀수
[32]: 십의자리: 홀수, 일의자리: 짝수
[33]: 십의자리: 홀수, 일의자리: 홀수
[34]: 십의자리: 홀수, 일의자리: 짝수
[35]: 십의자리: 홀수, 일의자리: 홀수
[36]: 십의자리: 홀수, 일의자리: 짝수
[37]: 십의자리: 홀수, 일의자리: 홀수
[38]: 십의자리: 홀수, 일의자리: 짝수
[39]: 십의자리: 홀수, 일의자리: 홀수
[40]: 십의자리: 짝수, 일의자리: 0
[41]: 십의자리: 짝수, 일의자리: 홀수
[42]: 십의자리: 짝수, 일의자리: 짝수
[43]: 십의자리: 짝수, 일의자리: 홀수
[44]: 십의자리: 짝수, 일의자리: 짝수
[45]: 십의자리: 짝수, 일의자리: 홀수
[46]: 십의자리: 짝수, 일의자리: 짝수
[47]: 십의자리: 짝수, 일의자리: 홀수
[48]: 십의자리: 짝수, 일의자리: 짝수
[49]: 십의자리: 짝수, 일의자리: 홀수
[50]: 십의자리: 홀수, 일의자리: 0
[51]: 십의자리: 홀수, 일의자리: 홀수
[52]: 십의자리: 홀수, 일의자리: 짝수
[53]: 십의자리: 홀수, 일의자리: 홀수
[54]: 십의자리: 홀수, 일의자리: 짝수
[55]: 십의자리: 홀수, 일의자리: 홀수
[56]: 십의자리: 홀수, 일의자리: 짝수
[57]: 십의자리: 홀수, 일의자리: 홀수
[58]: 십의자리: 홀수, 일의자리: 짝수
[59]: 십의자리: 홀수, 일의자리: 홀수
[60]: 십의자리: 짝수, 일의자리: 0
[61]: 십의자리: 짝수, 일의자리: 홀수
[62]: 십의자리: 짝수, 일의자리: 짝수
[63]: 십의자리: 짝수, 일의자리: 홀수
[64]: 십의자리: 짝수, 일의자리: 짝수
[65]: 십의자리: 짝수, 일의자리: 홀수
[66]: 십의자리: 짝수, 일의자리: 짝수
[67]: 십의자리: 짝수, 일의자리: 홀수
[68]: 십의자리: 짝수, 일의자리: 짝수
[69]: 십의자리: 짝수, 일의자리: 홀수
[70]: 십의자리: 홀수, 일의자리: 0
[71]: 십의자리: 홀수, 일의자리: 홀수
[72]: 십의자리: 홀수, 일의자리: 짝수
[73]: 십의자리: 홀수, 일의자리: 홀수
[74]: 십의자리: 홀수, 일의자리: 짝수
[75]: 십의자리: 홀수, 일의자리: 홀수
[76]: 십의자리: 홀수, 일의자리: 짝수
[77]: 십의자리: 홀수, 일의자리: 홀수
[78]: 십의자리: 홀수, 일의자리: 짝수
[79]: 십의자리: 홀수, 일의자리: 홀수
[80]: 십의자리: 짝수, 일의자리: 0
[81]: 십의자리: 짝수, 일의자리: 홀수
[82]: 십의자리: 짝수, 일의자리: 짝수
[83]: 십의자리: 짝수, 일의자리: 홀수
[84]: 십의자리: 짝수, 일의자리: 짝수
[85]: 십의자리: 짝수, 일의자리: 홀수
[86]: 십의자리: 짝수, 일의자리: 짝수
[87]: 십의자리: 짝수, 일의자리: 홀수
[88]: 십의자리: 짝수, 일의자리: 짝수
[89]: 십의자리: 짝수, 일의자리: 홀수
[90]: 십의자리: 홀수, 일의자리: 0
[91]: 십의자리: 홀수, 일의자리: 홀수
[92]: 십의자리: 홀수, 일의자리: 짝수
[93]: 십의자리: 홀수, 일의자리: 홀수
[94]: 십의자리: 홀수, 일의자리: 짝수
[95]: 십의자리: 홀수, 일의자리: 홀수
[96]: 십의자리: 홀수, 일의자리: 짝수
[97]: 십의자리: 홀수, 일의자리: 홀수
[98]: 십의자리: 홀수, 일의자리: 짝수
[99]: 십의자리: 홀수, 일의자리: 홀수
[100]: 십의자리: 짝수, 일의자리: 0

In [ ]:
inputNum=int(input())
sum=0; sum_j=0; sum_h=0; mul=1
for i in range(1, inputNum+1):
  sum += i
  if i % 2 == 0:
    sum_j += i
  elif i % 2 != 0:
    sum_h += i
  mul *= i

mul = format(mul,',')                                                           # <- 정답확인
print(f'합 결과: {sum}\n홀수 합: {sum_h}\n짝수 합:{sum_j}\n팩토리얼: {mul}')

15
합 결과: 120
홀수 합: 64
짝수 합:56
팩토리얼: 1,307,674,368,000

In [ ]:
# Q1                                                                            # 강의 코드
for i in range(1,6):                                                            # for i in range(1, 6):
  print('*'*i)                                                                  #     for j in range(i):
                                                                                #         print('*', end='')
                                                                                #     print()

*
**
***
****
*****

In [ ]:
# Q2                                                                            # 강의 코드
for i in range(1,6):                                                            # for i in range(1, 6):
  for j in range(5,i,-1):                                                       #   for j in range(6 - i - 1):
    print(' ',end='')                                                           #     print(' ', end='')
  print(i*'*')                                                                  #   for k in range(i):
                                                                                #     print('*', end='')
                                                                                #   print()

    *
   **
  ***
 ****
*****

In [ ]:
# Q3                                                                            # 강의 코드
for i in range(5,0,-1):                                                         # for i in range(5, 0, -1):
  print('*'*i)                                                                  #     for j in range(i):
                                                                                #         print('*', end='')
                                                                                #     print()

*****
****
***
**
*

In [ ]:
# Q4                                                                            # 강의 코드
for i in range(5):                                                              # for i in range(5, 0, -1):
  for k in range(1,i+1):                                                        #     for j in range(5 - i):
    print(' ',end='')                                                           #        print(' ', end='')
  for j in range(5,i,-1):                                                       #     for j in range(i):
    print('*',end='')                                                           #        print('*', end='')
  print()                                                                       #     print()

*****
 ****
  ***
   **
    *

In [ ]:
# Q5                                                                            # 강의 코드
for i in range(1,6):                                                            # for i in range(1, 10):
  print('*'*i)                                                                  #    if i < 5:
for i in range(4,0,-1):                                                         #       for j in range(i):
  print('*'*i)                                                                  #          print('*', end='')
                                                                                #    else:
                                                                                #       for j in range(10-i):
                                                                                #          print('*', end='')
                                                                                #    print()

*
**
***
****
*****
****
***
**
*

In [ ]:
# Q6                                                                            # 강의 코드
for i in range(1,6):                                                            # for i in range(1, 6):
  for j in range(i-1):                                                          #     for j in range(1, 6):
    print(' ',end='')                                                           #         if j == i:
  for k in range(1):                                                            #             print('*', end='')
    print('*',end='')                                                           #         else:
  print()                                                                       #             print(' ', end='')
                                                                                #     print()

*
 *
  *
   *
    *

In [ ]:
# Q7                                                                            # 강의 코드
for i in range(4, -1, -1):                                                      # for i in range(5, 0, -1):
  for j in range(i):                                                            #     for j in range(1, 6):
    print(' ',end='')                                                           #         if j == i:
  print('*')                                                                    #             print('*', end='')
                                                                                #         else:
                                                                                #             print(' ', end='')
                                                                                #     print()

    *
   *
  *
 *
*

In [ ]:
# Q8
for i in range(1,6):
  for j in range(5,i,-1):
    print(' ',end='')
  for k in range(2*i-1):
    print('*',end='')
  print()
for i in range(1,6):
  for j in range(i-1):
    print(' ',end='')
  for k in range(10,2*i-1,-1):
    print('*',end='')
  print()

# 다른 블로그
# for i in range(6):
#     print(' '*(5-i)+'*'*(2*i+1))
# for i in range(5,-1,-1):
#     print(' '*(5-i)+'*'*(2*i+1))

    *
   ***
  *****
 *******
*********
*********
 *******
  *****
   ***
    *

In [ ]:
bus_a = 15
bus_b = 13
bus_c = 8

totalmin = 17*60                                                                # 버스A,B 운행시간 6:00~23:00(17시간)

for i in range(totalmin+1):
    if i % (bus_a*bus_b) == 0:
        hour = 6 + (i // 60)
        min = i % 60
        print(f'busA와 busB 동시 정차!!\t{hour}:{min}')
    if i >= 20 and i <= (totalmin-60):                                          # 버스C 운행시간 6:20~22:00
        if i % (bus_a*bus_b*bus_c) == 0:
          hour = 6 + (i // 60)
          min = i % 60
          print(f'busA와 busB, busC 동시 정차!!\t{hour}:{min}')
        elif i % (bus_b*bus_c) == 0:
          hour = 6 + (i // 60)
          min = i % 60
          print(f'busB와 busC 동시 정차!!\t{hour}:{min}')
        elif i % (bus_a*bus_c) == 0:
          hour = 6 + (i // 60)
          min = i % 60
          print(f'busA와 busC 동시 정차!!\t{hour}:{min}')

busA와 busB 동시 정차!!	6:0
busB와 busC 동시 정차!!	7:44
busA와 busC 동시 정차!!	8:0
busA와 busB 동시 정차!!	9:15
busB와 busC 동시 정차!!	9:28
busA와 busC 동시 정차!!	10:0
busB와 busC 동시 정차!!	11:12
busA와 busC 동시 정차!!	12:0
busA와 busB 동시 정차!!	12:30
busB와 busC 동시 정차!!	12:56
busA와 busC 동시 정차!!	14:0
busB와 busC 동시 정차!!	14:40
busA와 busB 동시 정차!!	15:45
busA와 busC 동시 정차!!	16:0
busB와 busC 동시 정차!!	16:24
busA와 busC 동시 정차!!	18:0
busB와 busC 동시 정차!!	18:8
busA와 busB 동시 정차!!	19:0
busB와 busC 동시 정차!!	19:52
busA와 busC 동시 정차!!	20:0
busB와 busC 동시 정차!!	21:36
busA와 busC 동시 정차!!	22:0
busA와 busB 동시 정차!!	22:15

In [1]:
# 강의자료
busA = 15
busB = 13
busC = 8

totalMin = 17 * 60
for i in range(totalMin + 1):
    if i < 20 or i > (totalMin - 60):
        if i % busA == 0 and i % busB == 0:
            print('busA와 busB 동시 정차!!', end='')
            hour = 6 + i // 60
            min = i % 60
            print('\t{}:{}'.format(hour, min))
    else:
        if i % busA == 0 and i % busB == 0:
            print('busA와 busB 동시 정차!!', end='')
            hour = 6 + i // 60
            min = i % 60
            print('\t{}:{}'.format(hour, min))
        elif i % busA == 0 and i % busC == 0:
            print('busA와 busC 동시 정차!!', end='')
            hour = 6 + i // 60
            min = i % 60
            print('\t{}:{}'.format(hour, min))
        elif i % busB == 0 and i % busC == 0:
            print('busB와 busC 동시 정차!!', end='')
            hour = 6 + i // 60
            min = i % 60
            print('\t{}:{}'.format(hour, min))

busA와 busB 동시 정차!!	6:0
busB와 busC 동시 정차!!	7:44
busA와 busC 동시 정차!!	8:0
busA와 busB 동시 정차!!	9:15
busB와 busC 동시 정차!!	9:28
busA와 busC 동시 정차!!	10:0
busB와 busC 동시 정차!!	11:12
busA와 busC 동시 정차!!	12:0
busA와 busB 동시 정차!!	12:30
busB와 busC 동시 정차!!	12:56
busA와 busC 동시 정차!!	14:0
busB와 busC 동시 정차!!	14:40
busA와 busB 동시 정차!!	15:45
busA와 busC 동시 정차!!	16:0
busB와 busC 동시 정차!!	16:24
busA와 busC 동시 정차!!	18:0
busB와 busC 동시 정차!!	18:8
busA와 busB 동시 정차!!	19:0
busB와 busC 동시 정차!!	19:52
busA와 busC 동시 정차!!	20:0
busB와 busC 동시 정차!!	21:36
busA와 busC 동시 정차!!	22:0
busA와 busB 동시 정차!!	22:15

In [ ]:
gearA = int(input('GearA 톱니수 입력: '))
gearB = int(input('GearB 톱니수 입력: '))
circleA = 0
circleB = 0
leastNum = 0
flag = True
while flag:
  if circleA != 0:
    if circleA != leastNum:
      circleA += gearA
    else: flag = False
  else: circleA += gearA

  if circleB != 0 and circleB % gearA == 0:
    leastNum = circleB
  else: circleB += gearB

print('최초 만나는 톱니수(최소공배수): {}톱니'.format(leastNum))
print('gearA 회전수: {}회전'.format(int(leastNum/gearA)))
print('gearB 회전수: {}회전'.format(int(leastNum/gearB)))

GearA 톱니수 입력: 8
GearB 톱니수 입력: 18
최초 만나는 톱니수(최소공배수): 72톱니
gearA 회전수: 9회전
gearB 회전수: 4회전